#Import libraries

In [1]:
import pandas as pd
#import dask.dataframe as dd

#from pandasgui import show
#import missingno as msn

In [4]:
inputfile = 'AbbVie_Capstone.xlsx'

In [5]:
#df1 = pd.read_excel(inputfile, sheet_name = 'Interaction')
#df2 = pd.read_excel(inputfile, sheet_name = 'Content Access 1')
#df3 = pd.read_excel(inputfile, sheet_name = 'Content Access 2')
#df4 = pd.read_excel(inputfile, sheet_name = 'Specialist')
df5 = pd.read_excel(inputfile, sheet_name = 'Campaign')
df6 = pd.read_excel(inputfile, sheet_name = 'Collateral')

In [6]:
df0 = pd.merge(df5, df6, how = 'outer') #Support service <-> Collateral
df0.info()                              #Campaign+Collateral

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2592783 entries, 0 to 2592782
Data columns (total 11 columns):
 #   Column               Dtype
---  ------               -----
 0   patient_id           int64
 1   campaign date        datetime64[ns]
 2   engager              object
 3   channel_descrip      object
 4   delivery status      object
 5   brand_ind            object
 6   marketing_objective  object
 7   service call date    datetime64[ns]
 8   provided             float64
 9   discussed            float64
 10  ordered              float64
dtypes: datetime64[ns](2), float64(3), int64(1), object(5)
memory usage: 237.4+ MB

In [7]:
df0.count()

patient_id             2592783
campaign date          2592783
engager                2592783
channel_descrip        2592783
delivery status        2592783
brand_ind              2592783
marketing_objective    2592783
service call date      2591472
provided               2591472
discussed              2591472
ordered                2591472
dtype: int64

In [12]:
df0.to_csv('Campaign+Collateral.csv', index = False)

In [13]:
print(len(df0['patient_id'].unique()), len(df0[df0.duplicated()]))

2994 20913

In [4]:
df0 = pd.merge(df2, df3, how = 'outer') #Content Access <-> Email
dff = pd.merge(df0, df4, how = 'outer')
dff.info()   #Specialist+Email

<class 'pandas.core.frame.DataFrame'>
Int64Index: 920743 entries, 0 to 920742
Data columns (total 20 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   account_record_type  920743 non-null  object
 1   HCP type             920743 non-null  object
 2   enrollment_status    920650 non-null  object
 3   Months on program    638803 non-null  float64
 4   Months on therapy    579975 non-null  float64
 5   sent_date            829307 non-null  datetime64[ns]
 6   status               808609 non-null  object
 7   last_click           36491 non-null   object
 8   last_open            534879 non-null  object
 9   total_clicks         829307 non-null  float64
 10  total_opens          808609 non-null  float64
 11  opened               920743 non-null  int64
 12  patient_id           920743 non-null  int64
 13  document_views       163072 non-null  float64
 14  territory            254508 non-null  object
 15  call date            920740 non-null  datetime64[ns]
 16  Outcome              920740 non-null  float64
 17  duration             914455 non-null  float64
 18  delivery_channel     918357 non-null  object
 19  type of call         864405 non-null  object
dtypes: datetime64[ns](2), float64(7), int64(2), object(9)
memory usage: 147.5+ MB

In [5]:
dff = dff.drop(['last_click', 'last_open', 'total_clicks','document_views'], axis = 1) 
dff.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 920743 entries, 0 to 920742
Data columns (total 16 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   account_record_type  920743 non-null  object
 1   HCP type             920743 non-null  object
 2   enrollment_status    920650 non-null  object
 3   Months on program    638803 non-null  float64
 4   Months on therapy    579975 non-null  float64
 5   sent_date            829307 non-null  datetime64[ns]
 6   status               808609 non-null  object
 7   total_opens          808609 non-null  float64
 8   opened               920743 non-null  int64
 9   patient_id           920743 non-null  int64
 10  territory            254508 non-null  object
 11  call date            920740 non-null  datetime64[ns]
 12  Outcome              920740 non-null  float64
 13  duration             914455 non-null  float64
 14  delivery_channel     918357 non-null  object
 15  type of call         864405 non-null  object
dtypes: datetime64[ns](2), float64(5), int64(2), object(7)
memory usage: 119.4+ MB

In [7]:
dff['territory'] = dff['territory'].fillna('Unknown')
dff['territory'].unique()

array(['Unknown', 't1', 't5', 't4', 't2', 't3'], dtype=object)

In [9]:
dff['enrollment_status'] = dff['enrollment_status'].replace(['AMB Resource Triage Specialist','Triage'],'ARTS')

In [11]:
dff['enrollment_status'] = dff['enrollment_status'].fillna('Unknown')

In [13]:
dff['enrollment_status'] = dff['enrollment_status'].replace(['Special'],'Specialist')

In [22]:
dff.to_csv('Specialist+Email.csv', index = False)

In [23]:
df_1 = pd.merge(df1, df2, how = 'outer')
df_2 = pd.merge(df_1, df3, how = 'outer')
df_2.info()                                   #Interaction+Content Access

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2885871 entries, 0 to 2885870
Data columns (total 17 columns):
 #   Column               Dtype
---  ------               -----
 0   patient_id           int64
 1   service              object
 2   date of interaction  datetime64[ns]
 3   account_record_type  object
 4   HCP type             object
 5   enrollment_status    object
 6   Months on program    float64
 7   Months on therapy    float64
 8   sent_date            datetime64[ns]
 9   status               object
 10  last_click           object
 11  last_open            object
 12  total_clicks         float64
 13  total_opens          float64
 14  opened               int64
 15  document_views       float64
 16  territory            object
dtypes: datetime64[ns](2), float64(5), int64(2), object(8)
memory usage: 396.3+ MB

In [24]:
df_2 = df_2.drop(['last_click', 'last_open', 'total_clicks','document_views'], axis = 1) 
df_2.count()

patient_id             2885871
service                2883289
date of interaction    2883289
account_record_type    2885871
HCP type               2885871
enrollment_status      2885868
Months on program      2190956
Months on therapy      1914177
sent_date              2883816
status                 2883289
total_opens            2883289
opened                 2885871
territory               438761
dtype: int64

In [25]:
print(len(df_2['patient_id'].unique()), len(df_2[df_2.duplicated()]))

2994 13323

In [26]:
df_2.head(5)

,patient_id,service,date of interaction,account_record_type,HCP type,enrollment_status,Months on program,Months on therapy,sent_date,status,total_opens,opened,territory
0,2038844,Support_person,2018-05-22,Adult,type4,Specialist,NaN,NaN,2019-09-11 15:38:00,Delivered,0.0,0,NaN
1,2038844,Collateral,2018-05-23,Adult,type4,Specialist,NaN,NaN,2019-09-11 15:38:00,Delivered,0.0,0,NaN
2,2038844,Support_person,2018-05-23,Adult,type4,Specialist,NaN,NaN,2019-09-11 15:38:00,Delivered,0.0,0,NaN
3,2038844,App,2018-05-24,Adult,type4,Specialist,NaN,NaN,2019-09-11 15:38:00,Delivered,0.0,0,NaN
4,2038844,Email,2018-05-24,Adult,type4,Specialist,NaN,NaN,2019-09-11 15:38:00,Delivered,0.0,0,NaN

In [27]:
df_2['territory'] = df_2['territory'].fillna('Unknown')
df_2['territory'].unique()

array(['Unknown', 't2', 't3', 't1', 't4', 't5'], dtype=object)

In [28]:
df_2['enrollment_status'] = df_2['enrollment_status'].replace(['AMB Resource Triage Specialist','Triage', 'Special'],['ARTS', 'ARTS', 'Specialist'])
df_2['enrollment_status'] = df_2['enrollment_status'].fillna('Unknown')
df_2['enrollment_status'].unique()

array(['Specialist', 'Not Engaged', 'Hybrid Agent', 'Field Agent',
       'National Agent', 'Management Level', 'Local Agent', 'Ineligible',
       'ARTS', 'Unknown'], dtype=object)

In [30]:
df_2['status'] = df_2['status'].fillna('Unknown')
df_2['status'].unique()

array(['Delivered', 'Dropped', 'Bounced', 'Unsubscribed', 'Sent',
       'Marked Spam', 'Unknown'], dtype=object)

In [33]:
df_2.to_csv('Interaction+Email.csv', index = False)

Whether a collateral is ordered/provided by/to a patient is what's important, irrespective of if it's discussed. Hence, dropping off 'discussed'.

In [15]:
df2 = df2.drop(['discussed'], axis = 1) 
df2.columns

Index(['patient_id', 'campaign date', 'engager', 'channel_descrip',
       'delivery status', 'brand_ind', 'marketing_objective',
       'service call date', 'provided', 'ordered'],
      dtype='object')

In [16]:
#df2.to_csv('Campaign+Collateral.csv', index = False)

Whether outcome is successful or not is what's important, irrespective of the duration of call/mail. 
Hence, dropping off 'duration'.

In [20]:
df3 = df3.drop(['duration'], axis = 1) 
df3.columns

Index(['call date', 'Outcome', 'delivery_channel', 'type of call',
       'patient_id', 'account_record_type', 'HCP type', 'enrollment_status',
       'Months on program', 'months on the therapy', 'sent_date', 'status',
       'total_opens', 'opened', 'territory'],
      dtype='object')

In [21]:
#df3.to_csv('Specialist+Email.csv', index = False)

Feature relevance for categorical variables

In [ ]:
#from scipy.stats import f_oneway

#def calc_feature_relevance(df, feature, target):
#    idxs_by_class = [df[df[target_name] == v].index for v in df[target_name].unique()]
#    groups = [df.loc[class_idxs, feature].values for class_idxs in idxs_by_class]
#    return f_oneway(groups).statistic